<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" type="text/css" href="Layout.css">
</head>

<body>
    <div class="titulo">
        <h1 class="titulo1">WE MAKE</h1>
        <h1 class="titulo2">DESIGN</h1>
        <h1 class="titulo3">THAT</h1>
        <h1 class="titulo4">ROCKS!</h1>
    

        <div>
            <img>
        </div>
    </div>
    <div class="parte1">
        <p>
            <h1>WELCOME TO OUR SITE</h1>
            So you want us to ROCK you!?<br>
            <br>
            Etiam lectus nulla, vestbulum vel lectus eu, ultricies sit amet arcu.<br>
            Sem a nibh fringilla blandit. Ut ut turpis ultricies ullamcorper.<br>
            Here are some of our rockin serives.
        </p>
        <table>
            <tbody>
                <tr class="texto">
                    <td><img class="foto" src="marco.png"></td>
                    <td>
                        <p>
                            <h1>Graphic Design</h1>
                            Etiam lectus nulla, vestbulum vel lectus eu, ultricies<br>
                            sit amet arcu. Awesome graphic designs!
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><img class="foto" src="camara.jpeg"></td>
                    <td>
                        <p>
                            <h1>Photography</h1>
                            Etiam lectus nulla, vestbulum vel lectus eu, ultricies<br>
                            sit amet arcu. Some text about Photography.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><img class="foto" src="menu.png"></td>
                    <td>
                        <p>
                            <h1>Web Design</h1>
                            Etiam lectus nulla, vestbulum vel lectus eu, ultricies<br>
                            sit amet arcu. Websites that ROCKS!!!
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="parte2">
        <p>
            <h1>OUR LATEST WORK</h1>
            Watch us ROCKIN' the word!!
        </p>
        <nav>
            <div class="menu">
                GRAPHICS
            </div>
            <div class="menu">
                WEB
            </div>
            <div class="menu">
                PHOTOGRAPHY
            </div>
            <div class="menu">
                PRINT
            </div>
            <hr>
        </nav>

        <figure id="foto1">
            <img src="foto1.jpeg" />
        </figure>
        <figure id="foto2">
            <img src="foto2.jpeg" />
        </figure>
        <figure id="foto3">
            <img src="mkhaled.png" />
        </figure>
        <figure id="foto4">
            <img src="foto4.jpeg" />
        </figure>

        <table class="final">
            <tbody class="margen">
                <tr>
                    <td>
                        <p>
                            <h1>Interesting?</h1>
                            Liked our world, we're ava-<br>
                            ilable for freelance.<br>
                            <button type="button">HIRE US</button>
                        </p>
                    </td>
                    <td>
                        <p>
                            <h1>See more?</h1>
                            What you've seen was just s-<br>
                            ome samples.<br>
                            <button type="button">SEE MORE</button>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <figure id="cuadro1">
            <p id="c1">
                <h1>Testimonails</h1>
                See what our clients sayin
            </p>
            <p>Lorem ipsum dolor sit <br> Well, this guy is simply<br>awesome!<br>
                <br>
                <button type="button">READ MORE</button>
            </p>
        </figure>
        <figure id="cuadro2">
            <p class="c2">
                <h1>The Blog</h1>
                Lastest posts in our blog
            </p>
            <p>01.02.2009 <br> Lorem ipsum dolor sit am<br>Simply a blog pos here
                <br>
                <br>
                <button type="button">READ MORE</button>
            </p>
        </figure>
        <figure id="cuadro3">
            <p class="c3">
                <h1>Twitter</h1>
                Our latest micro message
            </p>
            <p>RT@mkhaled Check out<br>my latest tutorial!<br>10 hours ago from Web
                <br>
                <br>
                <button type="button">READ MORE</button>

            </p>
        </figure>
        <figure id="cuadro4">

        </figure>
    </footer>
</body>

</html>